node_modules

# Ignore all data folder
data/*/

# Keep folders that have a .gitkeep
!data/AUDIO/mono-audios/*.gitkeep
!data/AUDIO/dual-audios/*.gitkeep

# Keep folders that have a .gitkeep
!data/CSV/*.gitkeep

# Keep folders that have a .gitkeep
!data/JSON/dual-json/*.gitkeep
!data/JSON/mono-json/*.gitkeep
!data/JSON/client-json/*.gitkeep
!data/JSON/event-json/*.gitkeep
!data/to-download/*.gitkeep
!data/to-filter/*.gitkeep

# Ignore .env
.env

# Ignore temp files
.DS_Store

# Ignore root-level json files
*.json